<<<<<<< HEAD
*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

h3{
    font-size: 24px;
    text-align: center;
}

.logo{
    width: 200px;
}

.copy-header{
    font-weight: 400;
    text-align: center;
}
p{
    font-size: 12px;
}
div.top-header{
    padding: 5%;
}

header{
    background-color: #EAC926;
}

header div.logo{
    width: 50%;
}

header div.logo{
    padding: 10px;
}
header nav{
    font-size: 12px;
}

header ul li{
    list-style-type: none;
}

header ul li a{
    text-decoration: none;
    color: #000;
}

header .form .input{
    background-color: #FFF;
    border-radius: 5px;
    border: 0px;
    outline: none;
    color: #666;
    padding: 10px;
    margin: 20px 0px;
    display: flex;
}
header .form .submit{
    background-color: #FFF;
    color: #666;
    width: 10%;
    display: flex;
    align-items: center;
}

header div.top-header p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}
.navbar{
    display:none;
}
div.burger-menu{
    text-align: center;
}

div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 30px;
    margin: 10px 0px;
    padding: 10px 10px 5px;
    width: 30px;
}

article div.main-article{
    width: 100%;
}

.price{
    font-size: 18px;
}

.discount,
.description{
    font-size: 16px;
    font-weight: normal;
}
.description{
    display: none;
}
h3,
.description{
    color: #666;
}

section.banner img{
    width: 100%;
}

main{
    width: 90%;
}
article{
    margin-bottom:10px;
}

main section article{
    background-color: #fff;
}

main section article img{
    width: 100%;
}

main section article i,
.discount{
    color: #39b54a;
}
.products{
    border-top: solid 1px #ebebeb;
    padding: 0px 15px;
}
.description{
    display:none;
    box-shadow: 0px 0px;
}
.main-header-bottom-bar{
    display:none;
}
.input label{
    display: block;
}
form input,
form button {
    width: 100%;
    padding: 10px;
    margin: 20px 0px;
    border-radius: 5px;
    border: 0px;
}
.copy-header{
    font-weight: 400;
    text-align: center;
}

.registro-radio-comprar-vender{
    display: flex;
}
main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    transition: all 450ms;
}

main section article i:hover{
    transform: rotateZ(-90deg);
}
.main-article{
    position: relative;

}
main section div.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
article div.main-article{
    width: 100%;
    border-top: 1px solid #ebebeb;
    padding:15px;
}
.last-visit article:hover, .offers article:hover, .all-items article:hover{
    box-shadow: 0 0 10px rgb(100, 100, 100);
}

.icono{
    justify-content: center;
    display: flex;
    color: blue;
}
h3{
    font-weight:bolder;
}
=======
/*General*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #ebebeb !important;
}

/* Header */

header {
    background-color: #eac926;
}

header p {
    text-align: center;
}

.logo {
    width: 40%;
    margin: 0 10px;
}

.search {
    display: flex;
    align-items: center;
    width: 50%;
}

.fa-search {
    color: gray;
    position: relative;
    right: 30px;
}

.hamburger-button {
    background-color: #03264c;
    color: #ffffff;
    display: block;
    max-width: 40px;
    max-height: 40px;
    padding: 5px;
    border-radius: 8px;
    font-size: 19px;
    text-align: center;
    margin: 10px auto;
}

nav{
    display: none;
}

.banner-container {
    width: 100%;
}

section.banner img {
    width: 100%;
    display: block;
}

.welcome-message {
    font-weight: 600;
    margin: auto;
}

.header-top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-navbar {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 100%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


nav a {
    text-decoration: none;
    color: #222222 ;
    display: inline-block;
    padding: 5px;
    font-size: 15px;
}

i {
    margin: 5px;
}

/* Main */

main {
    width: 90%;
    margin: auto;
}

main h2 {
    margin: 20px 0px;
    text-align: center;
}

article .product-article {
    box-shadow: 0px 0px 10px rgb(100,100,100);
    padding: 0;
    margin: 10px 0;
}

article img {
    width: 100%;
    box-shadow: 0px 0px 10px rgb(100,100,100);
}

.last-visit article:hover,
.offer article:hover,
.all-items article:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.product-article {
    background-color: white;
}

.product-info {
    border-top: 1px solid #ebebeb;
    width: 100%;
    padding: 15px;
    display: flex;
}

p {
    font-size: 12px;
}

.title {
    font-size: 24px;
    text-align: left;
    margin-left: 2%;
    color: gray;
    font-weight: 500;
}

.price {
    font-size: 18px;
    width: 30%;
}

.discount {
    font-size: 16px;
    width: 70%;
    color: #39b54a;
}

.description {
    font-size: 16px;
    font-weight: 400;
    color: gray;
    display: none;
}

.last-visit article:hover .description,
.offer article:hover .description,
.all-items article:hover .description {
    display: block;
}

.green-car {
    color: #39b54a;
    background-color: white;
    border: 1px solid green;
    border-radius: 50%;
    padding: 5px;
}

article:hover .green-car{
    transform: rotate(-90deg);
    transition: transform 450ms;
}

.blue-symbol {
    color: #1065be;
    font-size: 25px;
    margin: 10px;
}

/* Footer */

>>>>>>> 47d552ccfd3262cf0929e352f90ce3d8e6a5f069
footer p {
    text-align: center;
    padding: 0px 0px 5px 5px;
}
footer h3 {
    text-align: center;
}
<<<<<<< HEAD
.search-bar{
    width: 100%;
    border-radius: 4px;
}
=======

>>>>>>> 47d552ccfd3262cf0929e352f90ce3d8e6a5f069
.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
<<<<<<< HEAD
.blue-symbol{
    color: blue;
}
=======

>>>>>>> 47d552ccfd3262cf0929e352f90ce3d8e6a5f069
footer article {
    margin: 20px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#copyright p {
    text-align: left;
}
<<<<<<< HEAD
.description:hover .description{
    display:block;
    
}

.main-article:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100)
=======

.hidden {
    display: none;
>>>>>>> 47d552ccfd3262cf0929e352f90ce3d8e6a5f069
}



<<<<<<< HEAD
/* TABLET */
@media (min-width: 361px) {
    
    main section article {
        box-shadow: 0px 0px 10px rgb(100,100,100);
        width: 45%;
        margin: 15px 0;
    }
    .description{
        display: block;
    }
    .burger-menu{
        display:none;
    }
    .navbar{
        display: flex
    }
    .top-header{
        display: flex;
        justify-content: stretch;
    }
    .copy-header{
        max-width: 350px;
        text-align: right;
    }
    .navbar{
        display:flex;
        justify-content: space-between;

    }
    .navbar ul{
        display: flex;
    }
    .navbar li{
        display: flex;
        margin: 0 5px;
        font-size: 15px;
        margin-bottom: 5px;
    }
}
@media (min-width : 1279px ) {
    main section article {
        box-shadow: 0px 0px 10px rgb(100,100,100);
        width: 24%;
        margin: 15px 5px;
    }
}
=======
/* Login and Register */


form input,
form button {
    width: 100%;
    padding: 10px;
    margin: 20px 0px;
    border-radius: 5px;
    border: 0px;
    cursor: pointer;
}

.user-profile {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.user-profile input {
    width: 10%;
}

.user-interests {
    display: flex;
    flex-direction: column;
}

.user-info input[type="checkbox"] {
    width: 10%;
}

.submit {
    color: #ffffff;
    background-color: #0044aa;
}

.submit:hover {
    background-color: #0022aa;
}

.reset {
    color: white;
    background-color: #aa0044;
}

.reset:hover {
    background-color: #cc1155;
}

/* -- Media queries -- */


/* Tablet */

@media (min-width: 768px) {
    .user-info,
    .user-login {
        padding: 0 25%;
    }
    header {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    nav {
        display: flex;
    }
    
    .search {
        width: 60%;
    }

    .header-top {
        width: 70%;
    }
    
    header nav ul {
        display: flex;
        justify-content: space-around;
        margin: 15px;
    }

    .main-navbar {
        display: flex;
        justify-content: space-between;
    }

    .hamburger-button {
        display: none;
    }

    nav {
        width: 100%;
    }

    nav li {
        font-size: 15px;
    }
    main section div.productos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    main section article {
        box-shadow: 0px 0px 10px rgb(100,100,100);
        width: 45%;
        margin: 10px 0px;
    }
    .footer-content {
        flex-direction: row;
        justify-content: center;
    }

    footer article {
        width: 33%;
    }
}

/* Computadora */

@media (min-width: 1024px) {
    header,
    main,
    .footer-content {
        padding: 0%;
    }
    nav ul li a {
        font-size: 16px;
    }
    header p {
        font-size: 14px;
    }
    main section div.productos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    main section article {
        width: 22%;
        padding: 0;
    }
}
>>>>>>> 47d552ccfd3262cf0929e352f90ce3d8e6a5f069
